<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="\css\navigation.css">
    <link rel="stylesheet" href="\css\responsive.css">
    <link rel="stylesheet" href="\css\404.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="img\alogo.png" type="image/icon type">
</head>

<body>
    {{>navbar}}
    <div class="error-text">
    <h1>404 </h1>
    <p1>something went wrong</p1>
    </div>

</body>
<script src="\js\navbar.js"></script>

</html>