<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ayush Gupta - Web developer</title>
  <link rel="icon" href="img\favicon.ico" type="image/png" />
  <link rel="stylesheet" href="\css\about.css">
  <link rel="stylesheet" href="\css\animista.css">
  <link rel="stylesheet" href="\css\navigation.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
  <link rel="icon" href="img\alogo.png" type="image/png" />


</head>

<body>

  {{>navbar}}
  <section class="conatiner-aboutme">
    <div class="topheading-about">
      <h1 class="fade-in-bottom ">About Me</h1>
    </div>
  </section>
  <div class="aboutme-content">
    <section class="Mystory">
      <div class="mystory-text">
        <h1>my story</h1>
        <h2>I make buildings by day and things for web at night</h2>
        <p>Since you have come this far you already know who i am and what i do . Well the name is Ayush and i am
          a self taught web developer/designer. I do web development as a hobby and i'm very passionate about web
          development.</p>
          <p>For me design isn't just what a product looks like on the outside. Design
          encompasses the internal functionality of a product as well as the overall user experience. I strive to design
          interfaces and experiences that people can enjoy on all digital mediums. I have a strong basics of front-end and
          ui/ux design and presently i am fixate towards improving and learning back-end skills.</p>
          <p>
          As I grow as a developer, I hope to write clean, readable code that
          can be used by others and leveraged to create beautiful software . Other than web devlopment i waste my time
          in sketching , reading , music and watching tv shows.</p>
      </div>
    </section>
    <section class="myskills">
      <div class="myskills-text">
        <div class="myskillsheading">
          <h1>tech stack</h1>
          <h2>These are some of the technologies i am working with recently</h2>
        </div>
        <div class="myskills-content">
          <div class="myskills-iconandtext"><img src="img\icons8-html-filetype-96.png" alt=""> <span>
              <p>HTML</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\css.png" alt=""> <span>
              <p>CSS</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\javascript.png" alt=""> <span>
              <p>JAVASCRIPT</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\nodejs.png" alt=""> <span>
              <p>NODEJS</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\express.png" alt=""> <span>
              <p>EXPRESSJS</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\react.png" alt=""> <span>
              <p>REACTJS</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\mongodb.png" alt=""> <span>
              <p>MONGODB</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\bootstrap.png" alt=""> <span>
              <p>BOOTSTRAP</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\wordpress.png" alt=""> <span>
              <p>WORDPRESS</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\photoshop.png" alt=""> <span>
              <p>PHOTOSHOP</p>
            </span></div>
          <div class="myskills-iconandtext"><img src="img\github.png" alt=""> <span>
              <p>GITHUB</p>
            </span></div>
        </div>
      </div>
    </section>
      {{! prettier-ignore }}
     {{>Footer}}
    </div>
  </div>
   



</body>
<script>

  window.addEventListener('scroll', function () {
    document.querySelector('.topheading-about').style.opacity = 1 - pageYOffset / 250;

  });

</script>

<script src="\js\navbar.js"></script>

</html>
