<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img\favicon.ico" type="image/png" />
    <meta name="description" content="Ayush Gupta Personal Portfolio">
    <link rel="stylesheet" href="\css\main.css">
    <link rel="stylesheet" href="\css\animista.css">
    <link rel="stylesheet" href="\css\navigation.css">
    <link rel="stylesheet" href="\css\responsive.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MKYL5MZ3QE"></script>


    <!-- Primary Meta Tags -->
<title>Ayush Gupta - Web developer 👾</title>
<meta name="title" content="Ayush Gupta - Web developer 👾">
<meta name="description" content="Personal Portfolio of web developer Ayush gupta">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.ayushguptaa.com/">
<meta property="og:title" content="Ayush Gupta - Web developer 👾">
<meta property="og:description" content="Personal Portfolio of web developer Ayush gupta">
<meta property="og:image" content="img/Home-page">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://www.ayushguptaa.com/">
<meta property="twitter:title" content="Ayush Gupta - Web developer 👾">
<meta property="twitter:description" content="Personal Portfolio of web developer Ayush gupta">
<meta property="twitter:image" content="img/Home-page">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MKYL5MZ3QE');
    </script>



</head>


<body class="homepg-body" id="homepg-body">
    <div class="hero-navbar-content-container">
        {{! prettier-ignore }}
        {{>navbar}}
        <section class="homepage">
            <div class="contentforhome">
                <div class="content">
                    <div class="mainpagetext fade-in-bottom-text">
                        <div class="mainpage-heading">
                            <h3> web developer & designer</h3>
                            <h1>Ayush Gupta</h1>
                        </div>
                        <div class="mainpagetextpara">
                            <p>I'm a self taught web developer specializing
                                in building & occasionally designing exceptional
                                websites, applications, and everything in between.</p>
                        </div>
                        <div class="aboutme-homepage">
                            <a href="/about" class="about-tag">
                                <p style="color: white ;"> MORE ABOUT ME</p>
                                <div class="hovereffect">
                                    <div class="right-arrow-btn "></div>
                                    <i class="fas fa-angle-right arrowbtnlogo " id="arrowbtnlogo"></i>
                                </div>
                            </a>

                        </div>
                        <div class="email-button-container">
                            <a id="email-button" href="mailto:ayush.gupta.jk@gmail.com" target="_blank">Contact
                                me</a>
                        </div>
                    </div>
                    <div class="main-image fade-in-top">
                        <div class="filter"></div>
                        <div class="shape"></div>
                    </div>

                </div>
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/_ayushguptaa/" target="_blank" rel="noopener"> <span>Ig</span>
                </a>
                <a href="https://github.com/Ayush6968" target="_blank" rel="noopener"> <span>Git</span>
                </a>
                <a href="https://www.linkedin.com/in/ayush-gupta-54a855139/" target="_blank" rel="noopener">Li </a>
            </div>

        </section>

    </div>
    <div class="preloader-container" id="preloader">
        <div class="triangle-wrapper">
            <div class="triangle triangle-1"></div>
            <div class="triangle triangle-2"></div>
            <div class="triangle triangle-3"></div>
            <div class="triangle triangle-4"></div>
            <div class="triangle triangle-5"></div>

        </div>
    </div>


    <script>
        (() => {
            const $triangles = document.querySelectorAll(".triangle");
            const template = `<svg class="triangle-svg" viewBox="0 0 140 141">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <polygon class="triangle-polygon"  points="70 6 136 138 4 138"></polygon>
    </g>
  </svg>`;

            Array.prototype.forEach.call($triangles, ($triangle, index) => {
                $triangle.innerHTML = template;
            });
        })();
    </script>


    {{!-- SCRIPT FOR PRELOADER --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(window).on('load', function () {
            $('#preloader').fadeOut(3000, () => {
                $('.hero-navbar-content-container').fadeIn(500)

            });
        });
    </script>

    <script src="\js\navbar.js"></script>

    <script type="text/javascript">
        function resize() {
            var heights = window.innerHeight;
            document.getElementById("homepg-body").style.height = heights + "px";
            document.querySelector(".hero-navbar-content-container").style.height = heights + "px";
            document.querySelector(".main-image").style.height = heights + "px";
        }
        resize();
        window.onresize = function () {
            resize();
        };


    </script>


</body>


</html>