<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush Gupta - Web developer</title>
    <meta name="description" content="Ayush Gupta Personal Portfolio">
    <link rel="stylesheet" href="\css\main.css">
    <link rel="stylesheet" href="\css\animista.css">
    <link rel="stylesheet" href="\css\navigation.css">
    <link rel="stylesheet" href="\css\responsive.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="img\alogo.png" type="image/icon type">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

    {{>navbar}}
    <section class="homepage">
        <div class="contentforhome">
            <div class="content">
                <div class="mainpagetext" class="slide-top">
                    <div class="mainpage-heading">
                        <h3>Hi , I am </h3>
                        <h1>Ayush Gupta</h1>
                    </div>
                    <div class="mainpagetextpara">
                        <p>I'm a self taught web developer/designer specializing
                            in building and occasionally designing exceptional
                            websites, applications, and everything in between.</p>
                    </div>
                    <div class="aboutme-homepage">
                        <a href="/about" class="about-tag">
                            <p style="color: white ;"> MORE ABOUT ME</p>
                            <div class="hovereffect">
                                <div class="right-arrow-btn "></div>
                                <i class="fas fa-angle-right arrowbtnlogo " id="arrowbtnlogo"></i>

                            </div>
                        </a>

                    </div>
                    <div class="email-button-container">
                        <a id="email-button" href="mailto:ayush.gupta.jk@gmail.com" target="_blank">Contact
                            me</a>
                    </div>
                </div>
                <div class="main-image">
                    <div class="my_pic">
                        <div class="filter"></div>
                        <video autoplay loop muted>

                            <source src="video/cyberpunk https___t.co_r8diRlFzRH.mp4" type="video/mp4">


                            Sorry, your browser doesn't support embedded videos.
                        </video>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class=" social-icons">
        <p>Follow me</p>
        <div class="social-icons-container">
            <a href="https://www.instagram.com/_ayushguptaa/" target="_blank">
                <p>Ig</p>
            </a>
            <a href="https://www.linkedin.com/in/ayush-gupta-54a855139/" target="_blank">
                <p>li</p>
            </a>
            <a href="https://github.io/Ayush6968" target="_blank">
                <p>git</p>
            </a>

        </div>
    </div>




</body>
<script src="\js\navbar.js"></script>

</html>

</body>

</html>