<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush Gupta - Web developer</title>
    <meta name="description" content="Ayush Gupta Personal Portfolio">
    <link rel="stylesheet" href="\css\main.css">
    <link rel="stylesheet" href="\css\animista.css">
    <link rel="stylesheet" href="\css\navigation.css">
    <link rel="stylesheet" href="\css\responsive.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
      <link rel="icon" href="img\alogo.png" type="image/icon type">


</head>

<body>
  
        {{>navbar}}
  <section class="homepage">
        <div class="contentforhome">
            <div class="content">
                <div class="mainpagetext" class="slide-top">
                    <div class="mainpage-heading">
                    <h3 class="fade-in-bottom ">Hi , I am </h3>
                    <h1 class="fade-in-bottom ">Ayush Gupta</h1>
                    </div>
                    <div class="mainpagetextpara">
                        <p class="fade-in-bottom ">I'm a self taught web developer/designer pspecializing
                        in building (and occasionally designing) exceptional
                        websites, applications, and everything in between.</p>
                    </div>
                    <div class="aboutme-homepage">
                        <a href="/about" class="about-tag">
                            <p style="color: white;" class="fade-in-bottom "> MORE ABOUT ME</p>
                            <div class="hovereffect">
                                <div class="right-arrow-btn fade-in-bottom "></div>
                                <img src="img\arrow-button-icon-png-favpng-V9nWigH9aJc8AF5KCh1XEP9JG.jpg" alt=""
                                    class="arrowbtnlogo fade-in-bottom " id="arrowbtnlogo">
                            </div>
                        </a>
                        
                    </div>
                    <div class="email-button-container">
                       <a id="email-button" class="fade-in-bottom " href="mailto:ayush.gupta.jk@gmail.com" target="_blank">Contact
                         me</a>
                    </div>
                </div>
                <div class="main-image">
                    <div class="my_pic">
                        <img src="img/ayush2.jpg" alt="" class="fade-in-top ">
                    </div>
                </div>
            </div>
        </div >
        
     

    </section>




</body>
<script src="\js\navbar.js"></script>

</html>

</body>

</html>