<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush Gupta - Web developer</title>
    <link rel="icon" href="img\favicon.ico" type="image/png" />
    <link rel="stylesheet" href="\css\navigation.css">
    <link rel="stylesheet" href="\css\work.css">
    <link rel="stylesheet" href="\css\responsive.css">
    <link rel="stylesheet" href="\css\animista.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="img\alogo.png" type="image/png" />

</head>

<body id='work-body'>
    {{>navbar}}
    <section class="mywork">
        <div class="mywork-container">

            <div class="mywork-heading">
                <h1>What i have done</h1>
            </div>
            <div class="mywork-content">
                <div class="img-container">
                    <div class="work-image-content fade-in-left">
                        <h1>The Shealter</h1>
                        <p>2020</p>
                        <div class="site-btn-container">
                            <a id="site-btn" href="https://ayush6968.github.io/Theshealter/" target="_blank">See
                                work</a>
                        </div>
                        <div class="client">
                            <p>Client</p>
                        </div>
                        <div class="client-name">
                            <p>Personal project</p>
                        </div>
                    </div>
                    <div class="content-container">
                        <img class="fade-in-right" src="../img/shealter.png" alt="The Shealter">
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="img-container">
                    <div class="work-image-content  fade-in-left">
                        <h1>Tsce</h1>
                        <p>2020</p>
                        <div class="site-btn-container">
                            <a id="site-btn" href=" https://sites.google.com/view/thapar-tsce" target="_blank">See
                                work</a>
                        </div>
                        <div class="client">
                            <p>Client</p>
                        </div>
                        <div class="client-name">
                            <p>Tsce</p>
                        </div>
                    </div>
                    <div class="content-container">
                        <img class="fade-in-right" src="img/tsce.png" alt="Thapar society of civil engineers">
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="img-container">
                    <div class="work-image-content  fade-in-left">
                        <h1>NEXT</h1>
                        <p>2020</p>
                        <div class="site-btn-container">
                            <a id="site-btn" href="https://ayush6968.github.io/next.github.io/" target="_blank">See
                                work</a>
                        </div>
                        <div class="client">
                            <p>Client</p>
                        </div>
                        <div class="client-name">
                            <p>Personal Project</p>
                        </div>
                    </div>
                    <div class="content-container">
                        <img class="fade-in-right" src="../img/next.png" alt="The Next" loading='lazy'>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="img-container">
                    <div class="work-image-content  fade-in-left">
                        <h1>CruXe</h1>
                        <p>2020</p>
                        <div class="site-btn-container">
                            <a id="site-btn" href="http://cruxe.in/" target="_blank">See work</a>
                        </div>
                        <div class="client">
                            <p>Client</p>
                        </div>
                        <div class="client-name">
                            <p>CruXe</p>
                        </div>
                    </div>
                    <div class="content-container">
                        <img class="fade-in-right" src="../img/Cruxe_mainpae.png" alt="Cruxe" loading='lazy'>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="img-container img-cont-border">
                    <div class="work-image-content  fade-in-left">
                        <h1>Trvl</h1>
                        <p>2020</p>
                        <div class="site-btn-container">
                            <a id="site-btn" href="https://trvlwebsite.herokuapp.com/" target="_blank">See work</a>
                        </div>
                        <div class="client">
                            <p>Client</p>
                        </div>
                        <div class="client-name">
                            <p>personal project</p>
                        </div>
                    </div>
                    <div class="content-container">
                        <img class="fade-in-right" src="../img/trvl.png" alt="Trvl" loading='lazy'>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(window).on('load', function () {
            console.log('workong')
            $('#work-body').delay(1000).fadeIn('slow')
        });
    </script>

    <script src="\js\navbar.js"></script>

</body>

</html>