<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="\css\navigation.css">
    <link rel="stylesheet" href="\css\work.css">
    <link rel="stylesheet" href="\css\responsive.css">
    <link rel="stylesheet" href="\css\animista.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="img\alogo.png" type="image/icon type">

</head>

<body>
    {{>navbar}}
    <section class="mywork">
        <div class="mywork-container">

            <div class="mywork-heading">
                <h1>what i have done</h1>
            </div>
            <div class="mywork-content">
                <div class="img-container">
                    <div class="content-container">
                        <img src="../img/project1.png" alt="Thapar society of civik engineers">
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- <div class="img-container">
            <div class="content-container1">
                <img src="../img/project3.png" alt="">
                <div class="overlay">
                    <h1>02</h1>
                    <p>NEXT
                    </p>
                    <div class="visit-button-container">
                        <a id="visit-button" href="https://ayush6968.github.io/next.github.io/" target="_blank">VISIT
                            SITE
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="mywork-content">
            <div class="img-container">
                <div class="content-container1">
                    <img src="../img/project4.png" alt="">
                    <div class="overlay">
                        <h1>03</h1>
                        <p>TRVL
                        </p>
                        <div class="visit-button-container">
                            <a id="visit-button" href="https://trvlwebsite.herokuapp.com/" target="_blank">VISIT SITE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <div class="content-container1">
                    <img src="../img/project2.png" alt="">
                    <div class="overlay">
                        <h1>04</h1>
                        <p>THE SHEALTER
                        </p>
                        <div class="visit-button-container">
                            <a id="visit-button" href="https://ayush6968.github.io/Theshealter.github.io/"
                                target="_blank">VISIT SITE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mywork-content-last">
            <div class="img-container">
                <div class="content-container1">
                    <img src="../img/Cruxe_mainpae.png" alt="">
                    <div class="overlay">
                        <h1>05</h1>
                        <p>CruXe
                        </p>
                        <div class="visit-button-container">
                            <a style="font-size:10px;" id="visit-button" href="#">COMING SOON
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> --}}








    </section>


</body>
<script src="\js\navbar.js"></script>

</html>