{{! <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet"> }}
<link rel='stylesheet' href='\\\\\css\responsive.css' />
<link rel='stylesheet' href='../../css/footer.css' />

<Footer class='footer'>
	{{! <p>Have a nice day </p> }}
	<p>© 2021 — Ayush Gupta</p>
</Footer>