<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="\css\navigation.css">
<link rel="stylesheet" href="\css\responsive.css">
{{!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"> --}}
<section class="header">
    <div class="Navbar">
        <a class="logo" href="/">
            {{!-- <div class="logoimg">
                <img src="img\alogo.png" alt="">
            </div> --}}
            <div class="logotextcontainer">
                <p class="logotext1">AYUSH </p>
            </div>
        </a>

        <div class="navbarcontents">
            <div class="menu-icon">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line" id="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>

            <div class="nav">
                <div class="nav__content">
                    <ul class="nav__list">
                        <li class="nav__list-item"><a href="/"><span class="span">01</span>HOME</a></li>
                        <li class="nav__list-item"><a href="/about"><span class="span">02</span>ABOUT</a></li>
                        <li class="nav__list-item"><a href="/contact"><span class="span">03</span>CONTACT</a></li>
                        <li class="nav__list-item"><a href="/work"><span class="span">04</span>WORK</a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>