* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #101010;
  font-family: "DM Sans", sans-serif;
  color: white;
}
.conatiner-aboutme {
  height: 100vh;
  width: 100%;
  /* z-index: -1; */
  position: fixed;
  top: 250px;
  left: 0px;
}
.topheading-about {
  width: 60%;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 3px;
  color: white;
}
.Mystory {
  margin: 0px;
  padding: 0px;
  height: 80vh;
  position: relative;
  top: 100vh;
  /* z-index: -1; */
}
.mystory-text {
  /* border: 2px solid yellow; */
  width: 72%;
  margin: auto;
  height: auto;
  padding: 30px;
}
.mystory-text h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: bold;
  width: auto;
}
.mystory-text h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  width: auto;
}

.mystory-text p {
  /* letter-spacing: 1px; */
  font-size: 21px;
  margin-top: 50px;
}
.whatido-container {
  /* z-index: -1; */
  position: relative;
  top: 100vh;
  height: 80vh;
  box-sizing: border-box;
}

.whatido-text {
  width: 72%;
  margin: auto;
  /* height: 500px; */
  height: auto;
  margin-top: 60px;
}
.whatido-heading {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.widimg {
  filter: invert(100%);
  height: 40px;
  width: 40px;
}
#widimg {
  filter: invert(100%);
  height: 50px;
  width: 50px;
}
.uitext {
  margin-top: 12px;
}

.whatido-icons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: lighter;
}
.containerforicons {
  box-sizing: border-box;
  width: 30%;
  /* height: 350px; */
  text-align: center;
}
.myskills {
  /* z-index: -1; */
  height: 100vh;
  position: relative;
  top: 100vh;
}
.myskills-text {
  width: 72%;
  height: 100%;
  margin: auto;
  display: flex;

  /* flex-direction: column; */
  /* padding-top: 25px; */
}
.myskillsheading {
  font-size: 2.3rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 25px;
  height: auto;
  width: auto;
}
.myskills-content {
  width: 250px;
  height: 600px;
  margin: auto;
}

.myskills-iconandtext {
  display: flex;
}
.myskills-iconandtext img {
  filter: invert(100%);
  height: 29px;
  width: 30px;
  padding-top: 10px;
}
.myskills-iconandtext p {
  padding-left: 25px;
  letter-spacing: 1.5px;
  font-weight: lighter;
}
