/* FOR WHITE BACKGROUND */

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s ease-in-out forwards;
  animation: fade-in-bottom 0.6s ease-in-out forwards;
}

/* FOR REXT BOX */
.fade-in-bottom-text {
  animation: fade-in-bottom 0.8s ease-in-out 0.4s both;
}
@keyframes fade-in-bottom-text {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* FOR  VIDEO */
.fade-in-top {
  animation: fade-in-top 0.8s ease-in-out 0.4s both;
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* FOR WORK IMAGES */
.fade-in-right {
  animation: fade-in-right 0.7s ease-in-out 0.2s both;
}
@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* FOR WORK TEXT */
.fade-in-left {
  animation: fade-in-left 0.7s ease-in-out 0.2s both;
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
