@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #101010;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.contentforhome {
  color: white;
  margin: 0px;
  padding: 0px;
  height: 600px;
}

.main-image {
  width: 50%;
  box-sizing: border-box;
  height: 100vh;
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  margin: 0px;
}

.my_pic {
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.5;
}

.my_pic video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.filter {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(1.2px);
  display: none;
}
.mainpagetext {
  height: auto;
  width: 63%;
  position: absolute;
  left: 9.1%;
  top: 22%;
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
}

.mainpagetext h1 {
  font-size: 8vw;
  margin: 5px;
  font-weight: 700;
  margin: 0px;
}

.mainpagetext h3 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0px;
  margin: 0px;
  position: relative;
  top: 7px;
  letter-spacing: 1px;
}

.mainpagetextpara {
  margin-top: 25px;
  width: 60%;
}
.mainpagetextpara p {
  font-size: 18px;
  font-weight: lighter;
  margin: 0px;
}

.aboutme-homepage {
  display: flex;
  margin-top: 30px;
  width: 320px;
}
.about-tag {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.about-tag p {
  font-size: 13px;
}

.right-arrow-btn {
  text-decoration: none;
  width: 75px;
  height: 1.5px;
  background-color: white;
  display: inline-block;
  transition: width 0.4s ease-in-out;
}

.arrowbtnlogo {
  font-size: 12px;
  z-index: -1;
  color: #ffffff;
}

.hovereffect {
  margin-left: 8px;
  display: flex;
  align-items: center;
  position: relative;
}
.aboutme-homepage:hover .right-arrow-btn {
  width: 105px;
}

.email-button-container {
  margin-top: 30px;
}
#email-button {
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  border: 1.2px solid white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#email-button:hover {
  color: black;
  background: white;
  border: 1.2px solid white;
}
.social-icons {
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-transform: uppercase;
  text-align: center;
}
.social-icons-container {
  display: flex;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.social-icons-container a {
  padding: 8px;
  text-decoration: none;
  color: #ffffff;
}
