/* FOR OUR HOMEPAGE */
@media screen and (max-width: 1024px) {
  body {
    overflow: scroll;
    /* border: 1px solid red; */
    height: 100vh;
  }
  .main-image {
    width: 100vw;
    height: 100vh;
  }
  .my_pic {
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.3;
  }
  .my_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-position:center top ; */
  }
  .filter {
    display: block;
  }

  .mainpagetext {
    height: 500px;
    width: 80%;
    top: 30%;
    left: 10%;
    margin: auto auto;
    box-sizing: border-box;
  }
  .mainpagetextpara {
    margin-top: 30px;

    width: 90%;
  }
  .mainpagetext h3 {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 0px;
    margin: 0px;
    position: relative;
    top: 7px;
  }
  .mainpagetext h1 {
    font-size: 10vw;
    margin: 7px;
    letter-spacing: 1px;
  }
  .mainpagetext p {
    font-size: 17px;
    font-weight: 50;
    margin: 0px;
  }
  @media screen and (max-width: 320px) {
    .mainpagetext {
      height: auto;
      width: 250px;
      position: absolute;
      left: 10%;
      top: 20%;
      box-sizing: border-box;
    }

    .aboutme-homepage {
      width: auto;
    }
  }

  /* NAVBAR */
  .logo {
    padding-left: 15px;
  }
  .logotext1 {
    letter-spacing: 2px;
  }
  .logotext2 {
    letter-spacing: 2px;
  }
  .logotextcontainer {
    text-align: center;
  }
  .menu-icon {
    right: 25px;
    top: 29px;
  }
  /* .menu-icon__line {
    height: 1px;
    margin-bottom: 6px;
  } */
  .nav__content {
    text-align: left;
  }
  .span {
    display: inline-block;
    padding-right: 18px;
  }
  .nav__list {
    padding-left: 50px;
  }
}

/* FOR OUR CONTACT */

@media screen and (max-width: 1024px) {
  .contact-container {
    height: 100vh;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .contact-form {
    height: 600px;
    width: 95%;
    margin: auto;
  }
  .text-field {
    width: auto;
    margin-bottom: 35px;
    height: 36px;
    font-size: 15px;
  }
  #email-form {
    margin-top: 25px;
  }
  .contact-heading {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 90px;
  }
}

/* FOR ABOUT PAGE */
@media screen and (max-width: 845px) {
  .topheading-about {
    width: 80%;
    font-size: 3rem;
  }
}
@media screen and (max-width: 737px) {
  .Mystory {
    height: auto;
  }
  .mystory-text h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: auto;
  }

  .mystory-text h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: auto;
  }

  .mystory-text p {
    letter-spacing: 1px;
    font-size: 17px;
    margin-top: 35px;
  }
  .whatido-container {
    height: auto;
  }
  .whatido-icons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: lighter;
  }
  .whatido-heading {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .containerforicons {
    width: auto;
    text-align: center;
  }
  .myskillsheading {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .myskills {
    height: auto;
  }
  .myskills-content {
    height: auto;
  }
}
@media screen and (max-width: 378px) {
  .myskills-content {
    width: auto;
  }
}
@media screen and (max-width: 1240px) {
  .myskills-text {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .myskills-content {
    margin: 0px auto;
  }
}

/* FOR WORK PAGE */
@media screen and (max-width: 1030px) {
  .mywork-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
  }
  .mywork-content-last {
    margin-top: 0px;
  }

  .img-container {
    width: 100%;
    margin-top: 20px;
  }
  .content-container1 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .content-container1 img {
    height: 100%;
    width: 100%;
    display: block;
    /* object-fit: contain;
         */
  }
}
@media screen and (max-width: 700px) {
  .mywork-heading {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .mywork {
    height: 156vh;
  }
  .mywork-heading {
    font-size: 20px;
  }
  .overlay h1 {
    font-size: 3.2rem;
  }
  .overlay p {
    position: absolute;
    left: 16px;
    bottom: 38px;
    font-size: 25px;
    font-weight: lighter;
  }

  .visit-button-container {
    position: absolute;
    bottom: 29px;
    left: 22px;
    width: 90px;
    height: 25px;
  }
  .visit-button-container a {
    color: black;
    font-weight: bolder;
    letter-spacing: 1.4px;
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {
  .mywork {
    height: 125vh;
  }
  .overlay h1 {
    font-size: 2.5rem;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 4px;
    letter-spacing: 0px;
  }
  .overlay p {
    position: absolute;
    left: 16px;
    bottom: 38px;
    font-size: 20px;
    font-weight: lighter;
  }

  .visit-button-container {
    position: absolute;
    bottom: 29px;
    left: 22px;
    width: 70px;
    height: 22px;
  }
  .visit-button-container a {
    color: black;
    font-weight: bolder;
    letter-spacing: 1.4px;
    font-size: 12px;
  }
}
/* FOR 404 PAGE */
@media screen and (max-width: 550px) {
  .errortext {
    font-size: 20px;
  }
}
