/* FOR OUR HOMEPAGE */
@media screen and (max-width: 1024px) {
  .homepg-body {
    overflow: hidden;
    height: 100vh;
  }
  .main-image {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .my_pic {
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.5;
  }

  .filter {
    display: block;
    backdrop-filter: blur(1px);
  }
  .mainpagetext {
    padding: 20px;
    width: 80%;
    top: 30%;
    left: 10%;
    box-sizing: border-box;
  }
  .mainpagetextpara {
    margin-top: 20px;
    width: 91%;
  }
  .mainpagetext h3 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0px;
    margin: 0px;
  }
  .mainpagetext h1 {
    font-size: 2.7rem;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  .mainpagetext p {
    font-size: 17px;
    font-weight: 50;
    margin: 0px;
  }
  @media screen and (max-width: 450px) {
    .mainpagetext {
      width: 80%;
      top: 35%;
      left: 8%;
      padding: 0px;
    }
    .email-button-container {
      margin-top: 15px;
    }
    #email-button {
      padding: 5px 7px;
      font-size: 10px;
    }
    .right-arrow-btn {
      width: 60px;
    }
    .aboutme-homepage:hover .right-arrow-btn {
      width: 90px;
    }
    .aboutme-homepage {
      width: auto;
    }
    .about-tag p {
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 380px) {
    .mainpagetext h1 {
      font-size: 2.2rem;
      margin-top: 0px;
    }
    .mainpagetext p {
      font-size: 15px;
    }
    .about-tag p {
      font-size: 0.7rem;
    }
  }

  /* NAVBAR */
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px;
  }

  .logotextcontainer {
    text-align: center;
  }
  .menu-icon {
    right: 25px;
    top: 29px;
  }
  .nav__content {
    text-align: left;
  }
  .span {
    display: inline-block;
    padding-right: 18px;
  }
  .nav__list {
    padding-left: 50px;
  }
}

/* FOR OUR CONTACT */

@media screen and (max-width: 1024px) {
  .contact-container {
    height: 100vh;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .contact-form {
    height: 600px;
    width: 95%;
    margin: auto;
  }
  .text-field {
    width: auto;
    margin-bottom: 35px;
    height: 36px;
    font-size: 15px;
  }
  #email-form {
    margin-top: 25px;
  }
  .contact-heading {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 90px;
  }
}

/* FOR ABOUT PAGE */

@media screen and (max-width: 845px) {
  .topheading-about {
    width: 80%;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 737px) {
  .mystory-text {
    width: 85%;
  }
  .myskills-text {
    width: 85%;
  }
  .mystory-text h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: auto;
  }

  .mystory-text h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: auto;
  }

  .mystory-text p {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin-top: 35px;
  }

  .myskillsheading h1 {
    font-size: 1.8rem;
  }

  .myskills-content {
    height: auto;
  }
  .myskills {
    margin-top: 50px;
  }
}
@media screen and (max-width: 565px) {
  .mystory-text p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 460px) {
  .topheading-about {
    font-size: 2rem;
  }
  .myskills-content {
    left: 0;
  }
  .myskills-iconandtext {
    padding-left: 0px;
  }
  .myskills-text {
    flex-direction: column;
  }
}

/* FOR WORK PAGE */
@media screen and (max-width: 1030px) {
  .mywork-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;
  }
  .mywork-content-last {
    margin-top: 0px;
  }

  .img-container {
    width: 100%;
    margin-top: 20px;
  }
  .content-container1 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .content-container1 img {
    height: 100%;
    width: 100%;
    display: block;
    /* object-fit: contain;
         */
  }
}
@media screen and (max-width: 700px) {
  .mywork-heading {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .mywork {
    height: 156vh;
  }
  .mywork-heading {
    font-size: 20px;
  }
  .overlay h1 {
    font-size: 3.2rem;
  }
  .overlay p {
    position: absolute;
    left: 16px;
    bottom: 38px;
    font-size: 25px;
    font-weight: lighter;
  }

  .visit-button-container {
    position: absolute;
    bottom: 29px;
    left: 22px;
    width: 90px;
    height: 25px;
  }
  .visit-button-container a {
    color: black;
    font-weight: bolder;
    letter-spacing: 1.4px;
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {
  .mywork {
    height: 125vh;
  }
  .overlay h1 {
    font-size: 2.5rem;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 4px;
    letter-spacing: 0px;
  }
  .overlay p {
    position: absolute;
    left: 16px;
    bottom: 38px;
    font-size: 20px;
    font-weight: lighter;
  }

  .visit-button-container {
    position: absolute;
    bottom: 29px;
    left: 22px;
    width: 70px;
    height: 22px;
  }
  .visit-button-container a {
    color: black;
    font-weight: bolder;
    letter-spacing: 1.4px;
    font-size: 12px;
  }
}
/* FOR 404 PAGE */
@media screen and (max-width: 550px) {
  .errortext {
    font-size: 20px;
  }
}
